<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="bg-dark  nav-bar d-flex align-items-center  sticky">
   <!-- <img src="../../assets/logo.png" height="100%" alt=""> -->
   <fa-icon [icon]="faJedi"></fa-icon>
   <i class="fa fa-jedi"></i>
    <h1 class="text-white ml-2">ATTENSYS</h1>

</div>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680" style="width:89%;">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Student Login</h2>
                <div class="forms">

                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">UserId</label>
                                <input class="input--style-4" placeholder="Enter your user id" type="email" name="email">
                            </div>
                        </div>
                        
                    </div>
                    <div class="row row-space">
                        
                        <div class="col-12 col-sm-12">
                            <div class="input-group">
                                <label class="label">Password</label>
                                <input class="input--style-4" placeholder="Enter your password"type="text" name="last_name">
                            </div>
                        </div>
                    </div>

                  
                    <div class="p-t-15 d-flex flex-column ">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                        <a routerLink="/flogin" class="h5 mt-2">Faculty??</a>
                        <small class="font-italic">* your user id is same as your enrollment number </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>