<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- The video -->
<video autoplay="autoplay" muted="muted" loop="loop" class="background-v">
    <source src="../../assets/Above Clouds.webm" type="video/mp4"></video>
    <div class="mainbox">
        <div class="err">4</div>
      <i class="far fa fa-question-circle fa-spin"></i>
   <!--    <fa-icon [icon]="faQuestionCircle "></fa-icon>-->

        <div class="err2">4</div>
        <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?<p>Let's go
                <a routerLink="" style="color:blue">home</a>
                and try from there.</p>
        </div>
    </div>
