<!-- Default form register -->
<p class="h3 mb-4">Profile Details</p>
<hr>

<div class=" border border-light ">


    <div class="row mb-4">
        <div class="col-lg-6 d-flex">
            <!-- First name -->
            <input type="text" class="form-control col-lg-6" placeholder="First name">

            <!-- Last name -->
            <input type="text" class="ml-3 form-control col-lg-6" placeholder="Last name">
        </div>
    </div>

    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control  col-lg-6 mb-4" placeholder="E-mail">

    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control  col-lg-6" placeholder="Password"
        aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
    </small>
    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control  col-lg-6" placeholder="Confirm Password"
        aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
    </small>
    <!-- Phone number -->
    <input type="text" id="defaultRegisterPhonePassword" class="form-control  col-lg-6" placeholder="Enrollment number"
        aria-describedby="defaultRegisterFormPhoneHelpBlock">
    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
        Optional - for two step authentication
    </small>

    <!-- Newsletter -->
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Confirmed Detail </label>
    </div>

    <!-- Sign up button -->
    <button class="btn btn-my mt-2" type="submit">Update</button>
    <hr>


    <!-- Default form register -->