


 

.logout{
    background: #883c78;
}

.outlet{
  width: 83%;
}
.side-b{
  position: fixed;
  width: 16%;
  margin-left: -30px;
  top: 18%;
}
.side-line{
  width: 10%;
  padding: 2%;
  margin-right:5%;
  width: 0;


}
.mb-btn{
 display: none;
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 80px;
  right: 45px;
  font-size: 60px;
}
.overlay{
  display: none;
}
.closebtn{
  color: #ffffff;
}
@media (max-width: 767px) {

  .side-line{
    display:none;
  }
  .logo-name{
    font-size: 30px;
    margin-right: 54px;


  }
  .mb-btn{
    display: block;
    height: 150%;
    margin-top: 14px;

    
  }
  .overlay{
    display: flex;
  }
}